<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AutoPrez</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
        <script defer src="{{url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
        <script defer src="{{url_for('static', filename='js/index.js')}}"></script>
    </head>
    <body>
        <div id="videos-div" class="flex" style="width: 100vw;">
            <img id="frames" class="stream" src="{{ url_for('api_video_feed') }}">
            <img id="mask" class="stream" src="{{ url_for('api_video_feed_mask') }}" style="display: none;">
        </div>
        <div class="overflow-div-outer wide neumorphic inset" id="images-div">
            <div class="overflow-div-inner" id="images-div-inner">
                <button class="options-button flex column small-text" id="arrow-button">Arrow</button>
                <button class="options-button flex column small-text" id="save-button">Save</button>
            </div>
        </div>
        <div class="overflow-div-outer wide neumorphic inset" id="options-div">
            <div class="overflow-div-inner">
                <button class="options-button flex column small-text" id="overlays-button">Overlays</button>
                <button class="options-button flex column small-text" id="gallery-button">Gallery</button>
                <button class="options-button flex column small-text" id="toggle-tracking-button">Toggle Tracking</button>
                <button class="options-button flex column small-text" id="reset-servos-button">Reset Servos</button>
                <button class="options-button flex column small-text" id="calibrate-button">Calibrate</button>
                <button class="options-button flex column small-text" id="toggle-mask-button">Toggle Mask</button>
                <button class="options-button flex column small-text" id="toggle-sliders-button">Show Sliders</button>
                <button class="options-button flex column small-text" id="shutdown-button">Shutdown</button>
            </div>
        </div>
        <div id="sliders-div" class="flex row" style="display: none;">
            <div id="target-sliders-div" class="flex column floating">
                <h1 class="medium-text">Target</h1>
                <label for="hue-target" class="small-text">Hue</label>
                <input type="range" value="0" min="0" max="255" id="hue-target" class="target-slider neumorphic">
                <label for="saturation-target" class="small-text">Saturation</label>
                <input type="range" value="0" min="0" max="255" id="saturation-target" class="target-slider neumorphic">
                <label for="value-target" class="small-text">Value</label>
                <input type="range" value="0" min="0" max="255" id="value-target" class="target-slider neumorphic">
            </div>
            <div id="variance-sliders-div" class="flex column floating">
                <h1 class="medium-text">Variance</h1>
                <label for="hue-variance" class="small-text">Hue</label>
                <input type="range" value="0" min="0" max="100" id="hue-variance" class="variance-slider neumorphic">
                <label for="saturation-variance" class="small-text">Saturation</label>
                <input type="range" value="0" min="0" max="100" id="saturation-variance" class="variance-slider neumorphic">
                <label for="value-variance" class="small-text">Value</label>
                <input type="range" value="0" min="0" max="100" id="value-variance" class="variance-slider neumorphic">
            </div>
        </div>
    </body>
</html>